<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="" />
    <title>My first sinatra app</title>
    <meta charset="utf-8">
    <meta name="keywords" content="" >
    <meta name="description" content="" >  </head>
  <body>

    <header>
      <nav>
      </nav>
      <h1 style="color:blue; font-family:Verdana;">FizzBuzz Web Application</h1>
    </header>
    <hr>
    <%= yield %>

  </body>
  </html>
