<h2>Enter some numbers and I'll give you a fizz buzz:</h2>
<form class="" action="/submit_numbers" method="post">
  <!-- label tag's for item matches id of input field -->
  <div>
    <input type="text" id="" value="" placeholder="First Number" name="first_number">
  </div>
  <div>
    <input type="text" id="" value="" placeholder="Second Number" name="second_number">
  </div>
  <div class="">
    <input type = "submit"/>
  </div>
</form>
