<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="" />
    <title>My first sinatra app</title>
    <meta charset="utf-8">
    <meta name="keywords" content="" >
    <meta name="description" content="" >  </head>
  <body>

    <header>
      <nav>
        <a href="/">Home</a>
        |
        <a href="/contact">Contact Us</a>
        |
        <a href="/cookie">Cookies</a>
        |
        <a href="/personality_test">Personality Test</a>
        |
        <a href="/faker">Faker</a>
        |
        <a href="/pick_winner">Pick Winner</a>
      </nav>
    </header>
    <hr>
    <%= yield %>

  </body>
  </html>
