<h1>Faker:</h1>
<form class="" action="/faker" method="post">


  <div class="">
    <input type = "submit" value="Generate Company Catch Phrase">
  </div>

<!-- <% if @result %>
  <%= "#{@result}" %>
<% end %> -->
<% if @result %>
<div style="width: 200px;height:100px;background-color:red;"><%= @result %>
</div>
<% end %>
</form>
