<h1>Sinatra Rules</h1>
<!-- This is an html comment -->
<%# This is an erb comment %>
<% name = "lyrrad\n" %>
<%= name.capitalize.reverse %>  <%# = sign displays something on the page %>
<% if 10 > 4 %>
<p>
  Hello World
</p>
<% else %>
<p>Goodby</p>
<% end %>
